<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.activiti.mapper.CommonMapper">
	<select id="getSysdate" resultType="java.sql.Timestamp">
		SELECT SYSDATE FROM DUAL
	</select>
	<select id="getNextval" parameterType="Map" resultType="java.lang.Long">
		SELECT ${seqName}.NEXTVAL FROM DUAL
	</select>
	<select id="getTableColumnByColumn" parameterType="org.jeecg.modules.activiti.entity.TableColumnByColumn" resultType="java.lang.String">
		SELECT GET_TABLE_COLUMN_BY_COLUMN(#{showCol,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{condCol,jdbcType=VARCHAR}, #{condValue,jdbcType=VARCHAR}, #{condOperate,jdbcType=VARCHAR}, #{condType,jdbcType=VARCHAR}, #{condCnt,jdbcType=INTEGER})FROM DUAL
	</select>

    <resultMap id="ConstResultMap" type="org.jeecg.modules.activiti.entity.ConstantEntity">
        <result column="const_key" jdbcType="VARCHAR" property="key" />
        <result column="const_value" jdbcType="VARCHAR" property="value" />
    </resultMap>
    <select id="qryConstantCfgData" resultMap="ConstResultMap" >
          select a.const_key, a.const_value from constant_data_config a where a.is_effective = 'Y'
  	</select>

	<select id="qryLogMenuButtonInfo"  resultType="org.jeecg.modules.activiti.entity.ConstantEntity" >
		select request_method key,oper_menu||','||oper_button value  from LOG_MENU_BUTTON_INFO
	</select>

	<select id="getSeqNextval" parameterType="org.jeecg.modules.activiti.entity.CommonEntity" resultType="java.lang.String">
		SELECT to_char(${seqName}.nextVal) FROM DUAL
	</select>

	<!--记录接口日志-->
	<insert id="insertIntfLog" parameterType="org.jeecg.modules.activiti.entity.BizLogEntity" >
		insert into intf_log
		(log_id,
		sys_id,
		service_name,
		req_user_id,
		biz_id,
		cost_time,
		res_code,
		res_msg,
		trans_id,
		log_time)
		values
		(#{logId,jdbcType=VARCHAR},
		#{sysId,jdbcType=VARCHAR},
		#{serviceName,jdbcType=VARCHAR},
		#{reqUserId,jdbcType=VARCHAR},
		#{bizId,jdbcType=VARCHAR},
		#{costTime,jdbcType=VARCHAR},
		#{resCode,jdbcType=VARCHAR},
		#{resMsg,jdbcType=VARCHAR},
		#{transId,jdbcType=VARCHAR},
		sysdate)
	</insert>

	<insert id="insertIntfLogExt" parameterType="org.jeecg.modules.activiti.entity.BizLogEntity" >
		insert into intf_log_ext
		(log_id,
		in_param,
		out_param)
		values
		(#{logId,jdbcType=VARCHAR},
		#{inParam,jdbcType=VARCHAR},
		#{outParam,jdbcType=VARCHAR})
	</insert>

    <!--记录activiti运行业务日志-->
    <insert id="insertActivitiLog" parameterType="org.jeecg.modules.activiti.entity.ActivitiLogEntity" >
		insert into ACT_LOG
          (ID, GROUP_ID, PROCESS_INST_ID, LOG_MSG, LOG_TIME, LOG_TYPE, REMARK)
        values
          (SEQ_ACT_LOG.NEXTVAL, #{groupId,jdbcType=VARCHAR},#{processInstId,jdbcType=VARCHAR},#{resMsg,jdbcType=VARCHAR},SYSDATE,#{logType,jdbcType=VARCHAR}, NULL)
	</insert>


    <select id="getSendPointList" statementType="CALLABLE" parameterType="org.jeecg.modules.activiti.entity.PointCommandEntity">
      {call pkg_common.get_Send_Point_List(#{commandJason,mode=OUT,jdbcType=VARCHAR},
                                           #{resCode,mode=OUT,jdbcType=VARCHAR},
                                           #{resMsg,mode=OUT,jdbcType=VARCHAR})}
    </select>


    <select id="writebackSendPointList" statementType="CALLABLE" parameterType="org.jeecg.modules.activiti.entity.PointCommandEntity">
      {call pkg_common.writeback_Send_Point_List(#{sendResJson,mode=IN,jdbcType=VARCHAR},
                                                 #{resCode,mode=OUT,jdbcType=VARCHAR},
                                                 #{resMsg,mode=OUT,jdbcType=VARCHAR})}
    </select>
</mapper>
